In [33]:
import numpy as np
import pandas as pd

In [34]:
df=pd.read_csv('Coursera.csv')
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [3]:
df.shape #3522 courses and 7 columns with different attributes

(3522, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [5]:
df.isnull().sum() #no value is missing

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [6]:
df['Difficulty Level'].value_counts()

Difficulty Level
Beginner          1444
Advanced          1005
Intermediate       837
Conversant         186
Not Calibrated      50
Name: count, dtype: int64

In [7]:
df['Course Rating'].value_counts()

Course Rating
4.7               740
4.6               623
4.8               598
4.5               389
4.4               242
4.9               180
4.3               165
4.2               121
5                  90
4.1                85
Not Calibrated     82
4                  51
3.8                24
3.9                20
3.6                18
3.7                18
3.5                17
3.4                13
3                  12
3.2                 9
3.3                 6
2.9                 6
2.6                 2
2.8                 2
2.4                 2
1                   2
2                   1
3.1                 1
2.5                 1
1.9                 1
2.3                 1
Name: count, dtype: int64

In [8]:
df = df[df['Course Rating'] != 'Not Calibrated']       #Removing all the Not Calibrated Rows from the dataset
df = df[df['Difficulty Level'] != 'Not Calibrated']
df

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...
...,...,...,...,...,...,...,...
3517,"Capstone: Retrieving, Processing, and Visualiz...",University of Michigan,Beginner,4.6,https://www.coursera.org/learn/python-data-vis...,"In the capstone, students will build a series ...",Databases syntax analysis web Data Visuali...
3518,Patrick Henry: Forgotten Founder,University of Virginia,Intermediate,4.9,https://www.coursera.org/learn/henry,"�Give me liberty, or give me death:� Rememberi...",retirement Causality career history of the ...
3519,Business intelligence and data analytics: Gene...,Macquarie University,Advanced,4.6,https://www.coursera.org/learn/business-intell...,�Megatrends� heavily influence today�s organis...,analytics tableau software Business Intellig...
3520,Rigid Body Dynamics,Korea Advanced Institute of Science and Techno...,Beginner,4.6,https://www.coursera.org/learn/rigid-body-dyna...,"This course teaches dynamics, one of the basic...",Angular Mechanical Design fluid mechanics F...
3521,Architecting with Google Kubernetes Engine: Pr...,Google Cloud,Intermediate,4.7,https://www.coursera.org/learn/deploying-secur...,"In this course, ""Architecting with Google Kube...",bigtable bigquery SQL Google Cloud Platform...

In [9]:
df['University'].value_counts()

University
Coursera Project Network                      523
University of Illinois at Urbana-Champaign    136
Johns Hopkins University                      106
University of Michigan                        100
University of Colorado Boulder                 94
                                             ...
ConsenSys Academy                               1
University of North Texas                       1
GitLab                                          1
Laureate Education                              1
The World Bank Group                            1
Name: count, Length: 181, dtype: int64

In [10]:
df['Skills']

0       Drama  Comedy  peering  screenwriting  film  D...
1       Finance  business plan  persona (user experien...
2       chemistry  physics  Solar Energy  film  lambda...
3       accounts receivable  dupont analysis  analysis...
4       Data Analysis  select (sql)  database manageme...
                              ...
3517    Databases  syntax  analysis  web  Data Visuali...
3518    retirement  Causality  career  history of the ...
3519    analytics  tableau software  Business Intellig...
3520    Angular  Mechanical Design  fluid mechanics  F...
3521    bigtable  bigquery  SQL  Google Cloud Platform...
Name: Skills, Length: 3392, dtype: object

## Feature Selection for RS

In [11]:
df.drop('Course URL',inplace=True,axis=1)
df.head(5)

,Course Name,University,Difficulty Level,Course Rating,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [12]:
df['Course Name']=df['Course Name'].apply(lambda x:x.replace(':',' '))
df['Course Name']=df['Course Name'].apply(lambda x:x.replace(',',' '))
df['Course Name']=df['Course Name'].apply(lambda x:x.replace('-',' '))

df['Course Description']=df['Course Description'].apply(lambda x:x.replace('-',' '))
df['Course Description']=df['Course Description'].apply(lambda x:x.replace('.',' '))
df['Course Description']=df['Course Description'].apply(lambda x:x.replace(':',' '))
df['Course Description']=df['Course Description'].apply(lambda x:x.replace(',',' '))

df['Skills']=df['Skills'].apply(lambda x:x.replace('-',' '))
df['Skills']=df['Skills'].apply(lambda x:x.replace('.',' '))
df['Skills']=df['Skills'].apply(lambda x:x.replace(':',' '))
df['Skills']=df['Skills'].apply(lambda x:x.replace(',',' '))
df['Skills']=df['Skills'].apply(lambda x:x.replace('(',' '))
df['Skills']=df['Skills'].apply(lambda x:x.replace(')',' '))

In [14]:
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,By the end of this guided project you will be...,Finance business plan persona user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,When it comes to numbers there is always more...,accounts receivable dupont analysis analysis...
4,Retrieve Data using Single Table SQL Queries,Coursera Project Network,Beginner,4.6,In this course you�ll learn how to effectively...,Data Analysis select sql database manageme...

## Creating a TAGS column
Tags column is the combination of all the features.

In [17]:
df['tags'] = df['Course Name'] + df['University'] + df['Difficulty Level'] + df['Course Description'] + df['Skills']
df.head(5)

,Course Name,University,Difficulty Level,Course Rating,Course Description,Skills,tags
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,Write A Feature Length Screenplay For Film Or ...
1,Business Strategy Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,By the end of this guided project you will be...,Finance business plan persona user experien...,Business Strategy Business Model Canvas Analy...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,Silicon Thin Film Solar Cells�cole Polytechniq...
3,Finance for Managers,IESE Business School,Intermediate,4.8,When it comes to numbers there is always more...,accounts receivable dupont analysis analysis...,Finance for ManagersIESE Business SchoolInterm...
4,Retrieve Data using Single Table SQL Queries,Coursera Project Network,Beginner,4.6,In this course you�ll learn how to effectively...,Data Analysis select sql database manageme...,Retrieve Data using Single Table SQL QueriesCo...

In [30]:
df.head()

,Course Name,University,Difficulty Level,Course Rating,Course Description,Skills,tags
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...,Write A Feature Length Screenplay For Film Or ...
1,Business Strategy Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,By the end of this guided project you will be...,Finance business plan persona user experien...,Business Strategy Business Model Canvas Analy...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...,Silicon Thin Film Solar Cells�cole Polytechniq...
3,Finance for Managers,IESE Business School,Intermediate,4.8,When it comes to numbers there is always more...,accounts receivable dupont analysis analysis...,Finance for ManagersIESE Business SchoolInterm...
4,Retrieve Data using Single Table SQL Queries,Coursera Project Network,Beginner,4.6,In this course you�ll learn how to effectively...,Data Analysis select sql database manageme...,Retrieve Data using Single Table SQL QueriesCo...

In [28]:
df['Skills'][0]

'Drama  Comedy  peering  screenwriting  film  Document Review  dialogue  creative writing  Writing  unix shells arts and humanities music and art'

## Recommendation Model

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer


tfidf = TfidfVectorizer(stop_words='english')

df['tags'] = df['tags'].fillna('')


tfidf_matrix = tfidf.fit_transform(df['tags'])

In [20]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(tfidf_matrix)

In [21]:
similarity

array([[1.00000000e+00, 2.47156460e-02, 3.41247464e-02, ...,
        2.64904631e-02, 2.98004336e-02, 1.62690990e-02],
       [2.47156460e-02, 1.00000000e+00, 1.06196853e-02, ...,
        1.06051911e-01, 2.82503524e-03, 3.37918976e-02],
       [3.41247464e-02, 1.06196853e-02, 1.00000000e+00, ...,
        7.06601700e-03, 3.53237340e-02, 5.51151431e-03],
       ...,
       [2.64904631e-02, 1.06051911e-01, 7.06601700e-03, ...,
        1.00000000e+00, 3.45958916e-04, 8.22978113e-03],
       [2.98004336e-02, 2.82503524e-03, 3.53237340e-02, ...,
        3.45958916e-04, 1.00000000e+00, 1.94466731e-03],
       [1.62690990e-02, 3.37918976e-02, 5.51151431e-03, ...,
        8.22978113e-03, 1.94466731e-03, 1.00000000e+00]])

In [22]:
indices = pd.Series(df.index, index=df['Skills']).drop_duplicates()

In [26]:
def get_recommendations(skills, cosine_sim=similarity):
    idx = indices[skills]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:6]
    courses = [i[0] for i in sim_scores]

    return df['Course Name'].iloc[courses]

In [29]:
get_recommendations('Drama  Comedy  peering  screenwriting  film  Document Review  dialogue  creative writing  Writing  unix shells arts and humanities music and art')

1481    Script Writing  Write a Pilot Episode for a TV...
3481                                   Transmedia Writing
1629                               Write Your First Novel
2186         Presentation skills  Public Speaking Project
3462                 Creative Writing  The Craft of Style
Name: Course Name, dtype: object

In [32]:
import pickle

pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df.to_dict(),open('course_list.pkl','wb')) #contains the dataframe in dict 
pickle.dump(df,open('courses.pkl','wb'))